/*Using css reset code*/
html, body, div, span, applet, object, iframe,
h1, h2, h3,h4,h5,h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,u,i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0; padding: 0; border: 0; vertical-align: baseline;}

body{background: #666;}

.container{width: 1000px; margin: auto;}

.head{width: 1000px; height: 100px; background: #fff;}

#logo{float: left; height: 100px; width: 30%;}
#banner{float: right; height: 100px; width: 70%;}

.navbar{width: 1000px; height: 50px; background: #000;}

#menu{line-height: 50px; float: left;}
#menu  li{list-style-type: none; display: inline;}
#menu a{text-decoration: none; font-size: 16px; font-family: "Comic Sans MS", cursive; color: #FFF; margin: 5px; padding: 6px;}
#menu a:hover{color: #F63; text-decoration: underline;}
#menu a:focus{color: #F63;}
#menu a:active{color: #F63;}

.post_area{width: 730px; background: #fff; float: left; padding: 10px; min-height: 930px;}
.post_area img{padding: 0 10px 10px 0; float: left;}
.post_area p{margin: 5px; text-align: justify;}
.post_area h2{padding-bottom: 10px; clear: left;}
.post_area span{margin-right: 9px;}

.sidebar{width: 249px; background: #F99; float: right; border-left: 1px solid #666; min-height: 950px;}
.sidebar h2{font-size: 16px; text-align: center;}
.sidebar h2 a{text-decoration: none; color: #000;}
.sidebar h2 a:hover{color: #F99; font-style: bold; background: #fff;}

#sidebar_title{background: #000; color: #fff; padding: 5px; font-size: 24px; border-top: 1px solid #666; text-align: center;}

#social{margin: 4px; padding: 5px; text-align: center;}
#social img{border-top: 5px solid #333; border-bottom: 5px solid #333;}
#social img:hover{border-top: 5px solid #fff; border-bottom: 5px solid #fff;}


#form{float: right; line-height: 50px; padding-right: 5px;}

.footer_area{width: 1000px; height: 100px; background: #000; color: #FFF; clear: both;}

#read_more_link{float:right; background: #000; color: #FFF; padding: 5px; text-decoration: none; margin-top: 5px;}
#read_more_link:hover{background:#F99; color:#000; }
#content_title{text-decoration: none; color: #000; font-family: "Comic Sans MS", cursive; font-size: 24px;}
#content_title:hover{color:brown; }
